
.content {
    margin-top: 50px;
    background-color: #131516;
    font-size: 40px;
    color: darkgray;

}

.welcome {
    height: 1000px;
    background-color: black;
}

.welcome p {
    width: max-content;
    height: max-content;
    position: absolute;
    left: 25%;
}
.welcome img {
    margin: auto;
    height: 90%;
    width: 95%;
border-radius: 10px;
overflow: hidden;
}
#aboutme {
    height: 1000px;
    background-color: #131516;
}
.aboutme-container {
    display: flex;
    width: 1000px;
    margin: 250px auto 250px auto
}
.portrait {
    width: 600px;
    

}

.pitch {
    margin-bottom: 10px;
}
.description {
    margin-left: 20px;
    width: 1000px;
    font-size: 20px;
}

#skills-section {
    background-color: #333;
    height: 1000px
}
#skills-section ul {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: space-evenly;
        margin: 250px auto 250px auto
}
.skills-container img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}
#projects-section {
    background-color: #131516;
    height: 1000px
}


.projects-container {
    width: 1200px;
    margin: 250px auto 250px auto;
    display: flex;
    justify-content: space-evenly;
}
.projects-container div {
    width: 300px;
    /* border: 1px solid red; */
}
.projects-container img {
    width: 300px;
    height: 300px;
    object-fit: contain;

}
.proj-description {
    font-size: 16px;
    margin-bottom: 10px;
}

#contact-section {
    background-color: #333;
}
.contact-container {
    width: 1200px;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.contact-container-body {
    display: flex;
}
.contact-infos {
    margin: auto;
    font-size: 30px;
}

.contact-infos p {
    margin-bottom: 10px
}
.chatbubble {
    margin: auto;
}

.chatbubble img {
    height: 500px;
    width: 500px;
}

.header a {
    transition: 0.5s;
}
.header a:hover {
border-bottom: 3px solid white;
;
}

.project {
    transition: 0.5s;
}
.project:hover {
    filter: brightness(125%);
    background-color: black;
    border: solid 1px white;
    border-radius: 12px;
}
/* .footer {
    text-align: center;
}
.footer-links {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
} */

.resume-link {
    color: white;
}

.resume-link:hover {
    text-decoration: underline;
}