.footer {
  height: 200px;
  background-color: black;
  color: lightgray;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.footer a {
  margin: 10px auto 10px auto;
  width: max-content;
  transition: 0.5s;
}

.footer a:hover {
border-bottom: 3px solid white;
}
